<%= form_with(model: english_word, local: true) do |form| %>
  <% if english_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(english_word.errors.count, "error") %> prohibited this english_word from being saved:</h2>

      <ul>
      <% english_word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :key_word %>
    <%= form.text_field :key_word %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
