%p#notice= notice
%h1 English Words
%table
  %thead
    %tr
      %th Key word
      %th{:colspan => "3"}
  %tbody
    - @english_words.each do |english_word|
      %tr
        %td= english_word.key_word
        %td= link_to 'Show', english_word
        %td= link_to 'Edit', edit_english_word_path(english_word)
        %td= link_to 'Destroy', english_word, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New English Word', new_english_word_path
